:root {
	--header-back-color: rgb(187,209,148);
	--input-back-color: #f8f8f8;
	--drawer-back-color: rgb(187,209,148);
	--drawer-close-color: #f8f8f8;
}

[type="checkbox"].drawer + * {
	height: auto;
}

[type="checkbox"].drawer:checked + * {
	right: 0;
	left: auto;
	width: 240px;
	text-align: left;
}

header {
	text-align: center;
}

table.tight th, table.tight td {
	padding-top: 0;
	padding-bottom: 0;
}


.card {
	text-align: center;
}

.drawer-toggle {
	float: right;
}

.headline {
	position: relative;
	top: 10;
	text-align: center;
	display: inline;
}


.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

.opaque {
  opacity: 0.5;
}

