:root {
	--header-back-color: rgb(187,209,148);
	--input-back-color: #f8f8f8;
	--drawer-back-color: rgb(187,209,148);
	--drawer-close-color: #f8f8f8;
}

[type="checkbox"].drawer + * {
	height: auto;
}

[type="checkbox"].drawer:checked + * {
	right: 0;
	left: auto;
}

.drawer-toggle {
	float: right;
}


.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

.opaque {
  opacity: 0.5;
}

